<!-- TODO get Rails to recognise partials in subdirs  -->

<li class="post" id="post-<%= post.id %>">
  <p><%= link_to post.title, post_path(post) %></p>
  <p><%= "Posted on #{post.international_date}" %></p>
</li>
