<div id="<%= strip_tags(topic).parameterize %>">
  <h2><%= topic %></h2>
  <ul>
    <% @posts.in_topic(topic).each do |post| %>
      <% next if !post.publish && !current_user %>
      <%= render 'post', post: post %>
    <% end %>
  </ul>
</div>
