<%= link_to("New post", new_post_path) %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <p><%= link_to post.title, post_path(post) %></p>
      <p><%= "Posted on #{post.international_date}" %></p>
    </li>
  <% end %>
</ul>
