<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <% @topics.in_groups_of(2, false).each do |group| %>
        <div class="row">
          <% group.each do |topic| %>
            <% next if Post.published.in_topic(topic).none? && !current_user %>
            <div class="col-sm-6">
              <%= render 'topics', topic: topic %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-sm-3">
      <div class="well" id="tags">
        <h4>View posts by tag</h4>
        <% @tags.each do |tag| %>
          <span><%= link_to tag, filter_posts_path(tag: tag), remote: true %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
